.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -4px 6px rgb(0 0 0 / 16%), 0 0 6px rgb(0 0 0 / 10%);
    width: 100%;    
}

.navigation-tabs {
    display: flex;
    padding: 2em 4em;
    border-top: 1px solid gainsboro;
    justify-content: space-between;
    margin: 0;
    background-color: #59595A;
}

.nav-link {
    display: inline-block;
    font-size: 18px;
    letter-spacing: .03em;
    color: white;
    list-style-type: none;
}