




body {
    font-family: "Roboto";
}

.container {
    margin: auto;
    margin-top: 15%;
}

.header {
    text-align: center;
}

.headshot {
    width: 200px;
    height: 150px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 10%);
    border-radius: 5px;
}

.intro {
    letter-spacing: .4px;
}

.bold {
    font-weight: bold;
}

.more-details {
    letter-spacing: .4px;
}

.body {
    text-align: center;
}

ul {
    padding: 0; 
}

.nav-link {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 30px;
}

.topic {
    display: inline-block;
    padding: 40px;
    border: 1px solid gainsboro;
    width: 200px;
    border-radius: 5px;
    letter-spacing: 1px;
}

.url {
    display: inline-block;
    margin: 5px;
    color: #1F74F2;
    text-decoration: none;
    letter-spacing: .9px;
    font-size: 15px;
}

.footer {
    margin-top: 20px;
    text-align: center;
    color: gainsboro;
    font-size: 13px;
}



/* For smaller devices */

/* @media only screen and (max-width: 600px) {
    .nav-link {
        padding: 30px 0;
    }
  } */